<h1>Opinie użytkownika <%= @user.username %></h1>
<% @user.opinions.each do |opinion| %>
    <div><%= opinion.book.title %></div>
    <div><%= opinion.rate %>/10</div>
    <div><%= opinion.description %></div>
<% end %>