@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  font-size: 200px;
  //background: -webkit-linear-gradient(#884dff, #e6e600);
  //-webkit-background-clip: text;
  //-webkit-text-fill-color: transparent;
}
hah {
    font-family: Georgia, Times, "Times New Roman", serif;
    height: 100%;
     margin: 0;
     background-repeat: no-repeat;
     background-attachment: fixed;
     color: #0d0d0d;
}

.footer
{
    background-color: #111111;
    color: white;
    text-align: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.aboutProject
{
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.about_header
{
    margin: 40px;
    font-family: "Helvetica Neue";
    font-size: 40px;
    text-shadow: rgba(0,0,0,.6);
}

.about_text
{
    font-family: "Helvetica Neue";
    font-size: 20px;
    text-shadow: rgba(0,0,0,.6);
}